* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', 'Times New Roman', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e5e6fa;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0a0826;
}

.kotakbtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: #1b1b1b;
    color: #fbfbfb;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: #b227b9;
}

/* bagian navigasi */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e5e6fa;
}

.navmenu ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
    font-size: 20px;
}

.navmenu ul li {
    border-bottom: 3px solid transparent;
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.navmenu ul li:hover {
    border-bottom: 3px solid #651d87;
    border-radius: 8px;
}

/* logo navbar left */
.logo {
    display: flex;
}

.logo p{
    font-size: 30px;
    font-weight: 700;
}

.logo span {
    color: #b227b9;
}

/* Main section */

.container-main {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0 120px;
    background-color: #05061a;
    border-radius: 20px;
}

.content {
    text-align: left;
}

.main .img img{
    background: linear-gradient(to bottom, #181a77, #fbfbfb );
    border-radius:300px 300px 40px 40px;
}

.main h1{
    font-size: 30px;
    color: #fbfbfb;
}

.main .caption {
    font-size: 18px;
    font-weight: 400;
    width: 400px;
    text-align: justify;
    margin-top: 50px;
}


/* Gallery pages */
.container-gallery {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0 120px;
    background-color: #05061a;
    border-radius: 20px;
}

.container-gallery h1 {
    margin-bottom: 20px;
}

.container-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-img img {
    width: 230px;
    padding: 8px;
}

/* Form Pages */
.container-form {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0 120px;
    background-color: #05061a;
    color: #fbfbfb;
    border-radius: 20px;
}

.form {
    width: 300px;
    background-color: #b227b9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.formField{
    text-align: left;
    padding: 5px 0;
    font-weight: 600;
}

input[type=text], select, textarea, [type=date]{
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

input[type=file] {
    width: 100% ;
    background-color: #651d87;
    padding: 8px;
    margin-top: 3px;
    border-radius: 5px;
}

.btnForm {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

input[type=reset] {
    padding: 5px 10px;
    background-color: #181a77;
    box-shadow: 5px 5px 8px #05061a;
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
input[type=reset]:hover {
    background-color: orangered;
}
input[type=submit] {
    padding: 5px 10px;
    background-color: #181a77;
    box-shadow: 5px 5px 8px #05061a;
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
input[type=submit]:hover {
    background-color: greenyellow;
    color: #1b1b1b;
}

/* table pages */
.table {
    overflow-x: auto;
}

.table table {
    width: 100%;
    border-collapse: collapse; 
    font-family: Arial, sans-serif;
    min-width: 600px; 
}

.table thead th {
    background-color: #b227b9; 
    color: white;
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}


.table tbody td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff; 
}

.table tbody tr:hover {
    background-color: #cce5ff; 
    cursor: pointer;
    transition: 0.3s ease;
}

/* footer */

footer{
    background-color: #05061a;
    display: flex;
    justify-content: space-around;
    gap: 600px;
    align-items: center;
    color: #fbfbfb;
    margin-top: 80px;
}

footer.table {
    margin-top: 191px;
}

.content-imgfoot {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.imgfoot img {
    width: 32px;
    margin: 0 10px;
}
/* DarkMode home*/
body.dark{
    background-color: #1b1b1b;
}

body.dark nav {
    background-color: #1b1b1b;
}

body.dark a{
    color: #fbfbfb;
}

body.dark .logo {
    color: #fbfbfb;
}

body.dark .btn {
    background-color: #b227b9;
}

body.dark .btn:hover {
    background-color: #181a77;
}

body.dark .container-main {
    background-color: #b227b9;
}
body.dark .container-gallery{
    background-color: #b227b9;
}

body.dark .container-form {
    background-color: #b227b9;
}

body.dark form {
    background-color: #0a0826;
}

/* DarkMode galeri*/


@media screen and (max-width: 600px){
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
    }

    .navmenu ul {
        padding: 0 30px;
        font-size: 18px;
        gap: 10px;
    }

    .kotakbtn {
        font-size: 12px;
        padding: 10px 0;
    }

    /* main section */
    .container-main {
        margin: 20px 10px;
    }

    .main h1{
        font-size: 8px;
        color: #fbfbfb;
    }

    .main .caption {
        font-size: 8px;
        width: 80px;
        margin-top: 15px;
    }

    .btn-main a {
        font-size: 8px;
        border-radius: 5px;
    }

    .img img {
        width: 130px;
    }

    /* galeri */
   .container-gallery {
    margin: 0 30px;
}

    .container-img {
        display: grid;
        grid-template-columns: auto;
    }

    .container-img img {
        width: 2200px;
    }
    
    /* form */
    .container-form {
        margin: 0 20px;
        flex-direction: column;
    }
    
    .judulForm {
        font-size:10px;
    }

    .form {
    width: 200px;
    padding: 20px;
    }

    /* footer */
    footer {
        gap: 30px;
    }

    .content-copyright p {
        font-size: 10px;
    }

    .imgfoot img {
        width: 16px;
        margin: 0 5px;
    }

}
    
@media screen and (max-width: 300px){
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
    }

    .navmenu ul {
        padding: 0 30px;
        font-size: 18px;
        gap: 10px;
    }

    .kotakbtn {
        font-size: 12px;
        padding: 10px 0;
    }

    /* main section */
    .container-main {
        margin: 20px 10px;
    }

    .main h1{
        font-size: 8px;
        color: #fbfbfb;
    }

    .main .caption {
        font-size: 8px;
        width: 80px;
        margin-top: 15px;
    }

    .btn-main a {
        font-size: 8px;
        border-radius: 5px;
    }

    .img img {
        width: 100px;
    }

    /* galeri */
   .container-gallery {
    margin: 0 30px;
}

    .container-img {
        display: grid;
        grid-template-columns: auto;
    }

    .container-img img {
        width: 180px;
    }
    
    /* form */
    .container-form {
        margin: 0 20px;
        flex-direction: column;
    }
    
    .judulForm {
        font-size:10px;
    }

    .form {
    width: 200px;
    padding: 20px;
    }

    /* footer */
    footer {
        gap: 30px;
    }

    .content-copyright p {
        font-size: 10px;
    }

    .imgfoot img {
        width: 16px;
        margin: 0 5px;
    }

    }around;
        align-items: center;
        margin: 10px 0;
    }

    .navmenu ul {
        padding: 0 30px;
        font-size: 18px;
        gap: 10px;
    }

    .kotakbtn {
        font-size: 12px;
        padding: 10px 0;
    }

    /* main section */
    .container-main {
        margin: 20px 10px;
    }

    .main h1{
        font-size: 8px;
        color: #fbfbfb;
    }

    .main .caption {
        font-size: 8px;
        width: 80px;
        margin-top: 15px;
    }

    .btn-main a {
        font-size: 8px;
        border-radius: 5px;
    }

    .img img {
        width: 100px;
    }

    /* galeri */
   .container-gallery {
    margin: 0 30px;
}

    .container-img {
        display: grid;
        grid-template-columns: auto;
    }

    .container-img img {
        width: 180px;
    }
    
    /* form */
    .container-form {
        margin: 0 20px;
        flex-direction: column;
    }
    
    .judulForm {
        font-size:10px;
    }

    .form {
    width: 200px;
    padding: 20px;
    }

    /* footer */
    footer {
        gap: 30px;
    }

    .content-copyright p {
        font-size: 10px;
    }

    .imgfoot img {
        width: 16px;
        margin: 0 5px;
    }


}

